@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Poppins", sans-serif;
}

.cell {
    @apply w-full inline-flex justify-center items-center aspect-square border-[0.5px] border-indigo-300;   
}

.cell-start {
    @apply bg-green-600;
}

.cell-end {
    @apply bg-red-600;
}

.cell-wall {
    @apply bg-black;
}

.cell-visited {
    @apply bg-amber-200;
    animation-name: visitedAnimation;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

.cell-path {
    @apply !bg-blue-600;
    animation-name: pathAnimation;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

@keyframes visitedAnimation {
    0% {
        transform: scale(0.3);
        @apply bg-amber-600;
    }

    50% {
        background-color: rgba(111, 111, 111, 0.75);
        @apply bg-amber-400;
    }

    75% {
        transform: scale(1.2);
        @apply: bg-amber-300;
    }

    100% {
        transform: scale(1);
        @apply: bg-amber-200;
    }
}

@keyframes pathAnimation {
    0% {
        transform: scale(0.3);
        @apply bg-blue-600;
    }

    50% {
        background-color: rgba(111, 111, 111, 0.75);
        @apply bg-blue-400;
    }

    75% {
        transform: scale(1.2);
        @apply: bg-blue-300;
    }

    100% {
        transform: scale(1);
        @apply: bg-blue-200;
    }
}

.btn {
    @apply h-10 rounded-md px-1.5 text-sm;
}

.btn-red {
    @apply bg-red-600;
}

.btn-dropdown {
    @apply flex items-center gap-x-3.5 text-gray-800 hover:bg-gray-100 w-full;
}
